body {
    font-family: sans-serif;
    background: url(/ui/Angles.jpg);
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.left{
    margin : 30px;
}

.top {
    
    font-size: 25px;
     border: 1px solid #f90;
    background-color:transparent;
    padding-top:10px;
    padding-bottom:2px;
}

.top1 {
    margin:0px;
    padding-top:0px;
    padding-bottom:45px;
    top:2px;
}
#q {
    font-size:100px;
    color:#1f2838;
}
#main{
    width:150px;
    height:150px;
}
.btn-social {
    position: relative;
    opacity: 0.5;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn-social:hover {
    transform: scale(1.5, 1.5);
    opacity: 1;
}
.i {
    width:350px;
    height:35px;
    margin:5px;
}
